@rendermode InteractiveServer
@using Ash.Portfolio.Web.Components.Pages;
@inherits PageBase

<div class="homeContainer">
    <div class="homeContainer-line1">@LocalisationService.GetString("Hey I'm")</div>
    <div class="homeContainer-line2">@LocalisationService.GetString("Ashley Gibson")</div>
    <div class="homeContainer-line3">@LocalisationService.GetString("Senior Software Engineer") - <a href="https://www.asos.com/" target="_blank">@LocalisationService.GetString("ASOS")</a></div>

    <div class="homeContainer-socialRow">
        <a href="http://www.facebook.com/ashdgibson" target="_blank"><img src="img/social/facebookNew.png" alt="Facebook"></a>
        &nbsp;
        <a href="http://www.linkedin.com/in/ashleydgibson" target="_blank"><img src="img/social/linkedInNew.png" alt="LinkedIn"></a>
        &nbsp;
        <a href="https://www.instagram.com/gibbo_code" target="_blank"><img src="img/social/instagramNew.png" alt="Instagram"></a>
        &nbsp;
        <a href="https://www.twitter.com/gibbo_code" target="_blank"><img src="img/social/twitterNew.png" alt="Twitter"></a>
        &nbsp;
        <a href="mailto:ash.gibson@hotmail.co.uk" target="_self"><img src="img/social/mailNew.png" alt="@LocalisationService.GetString("Email")"></a>
    </div>

    <div class="homeNav">
        <div class="homeNav-container">
            <a class="homeNav-container-home" href="/">@LocalisationService.GetString("Home")</a>
            <a class="homeNav-container-portfolio" href="portfolio">@LocalisationService.GetString("Portfolio")</a>
            <a class="homeNav-container-workExperience" href="experience">@LocalisationService.GetString("Experience")</a>
            <a class="homeNav-container-education" href="education">@LocalisationService.GetString("Education")</a>
            <a class="homeNav-container-interests" @onclick="NavigateToInterestsPage">@LocalisationService.GetString("Interests")</a>
        </div>
    </div>

    <Ash.Portfolio.Web.Components.Shared.CVButton />    
</div>
