@rendermode InteractiveServer
@using Ash.Portfolio.Web.Components.Pages;
@inherits PageBase

<div class="navBar">
    <div class="navBar-container">
        <a class="navBar-container-home" href="/">@LocalisationService.GetString("Home")</a>
        <a class="navBar-container-portfolio" href="portfolio">@LocalisationService.GetString("Portfolio")</a>
        <a class="navBar-container-experience" href="experience">@LocalisationService.GetString("Experience")</a>
        <a class="navBar-container-education" href="education">@LocalisationService.GetString("Education")</a>
        <a class="navBar-container-interests" @onclick="NavigateToInterestsPage">@LocalisationService.GetString("Interests")</a>
    </div>
</div>