<div class="experienceGrid">
    <div class="row m-0 p-2 text-center">        
        <div class="col-5 p-0 m-auto">
            <a class="experienceTable-item-image" href="https://www.asos.com/" target="_blank">
                <img src="img/experience/asos.jpg">
            </a>
        </div>
        <div class="col-7 p-0">
            <h2 class="m-0"><a class="fw-bold" href="https://www.asos.com/" target="_blank">@LocalisationService.GetString("ASOS")</a></h2>
            <p class="fs-3 m-0 fw-bold" style="color: #228B22;">@LocalisationService.GetString("Senior Software Engineer")</p>
            <ul class="text-start">
                <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 1")</li>
                <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 2")</li>
                <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 3")</li>
                <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 4")</li>
                <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 5")</li>
                <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 6")</li>
                </ul>
        </div>
    </div>

    <div class="row m-0 p-2 text-center">
        <div class="col-5 p-0 m-auto">
            <a class="experienceTable-item-image" href="https://www.ajg.com/" target="_blank">
                <img src="img/experience/gallagher.png">
            </a>
        </div>
        <div class="col-7 p-0">
            <h2 class="m-0"><a class="fw-bold" href="https://www.ajg.com/" target="_blank">@LocalisationService.GetString("Gallagher")</a></h2>
            <p class="fs-3 m-0 fw-bold" style="color: #228B22;">@LocalisationService.GetString("Digital Developer")</p>
            <ul class="text-start">
                <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 1")</li>
                <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 2")</li>
                <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 3")</li>
                <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 4")</li>
                <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 5")</li>
            </ul>
        </div>
    </div>

    <div class="row m-0 p-2 text-center">
        <div class="col-5 p-0 m-auto">
            <a class="experienceTable-item-image" href="https://www.quba.co.uk" target="_blank">
                <img src="img/experience/quba.png">
            </a>
        </div>
        <div class="col-7 p-0">
            <h2 class="m-0"><a class="fw-bold" href="https://www.quba.co.uk" target="_blank">@LocalisationService.GetString("QUBA New Media Ltd")</a></h2>
            <p class="fs-3 m-0 fw-bold" style="color: #228B22;">@LocalisationService.GetString("Junior Developer")</p>
            <ul class="text-start">
                <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 1")</li>
                <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 2")</li>
                <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 3")</li>
                <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 4")</li>
                <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 5")</li>
            </ul>
        </div>
    </div>

    <div class="row m-0 p-2 text-center">
        <div class="col-5 p-0 m-auto">
            <a class="experienceTable-item-image" href="http://www.millersolutions.co.uk" target="_blank">
                <img src="img/experience/millerSolutions.png">
            </a>
        </div>
        <div class="col-7 p-0">
            <h2 class="m-0"><a class="fw-bold" href="http://www.millersolutions.co.uk" target="_blank">@LocalisationService.GetString("Miller Solutions Ltd")</a></h2>
            <p class="fs-3 m-0 fw-bold" style="color: #228B22;">@LocalisationService.GetString("Software Developer")</p>
            <ul class="text-start">
                <li>@LocalisationService.GetString("Miller Solutions Software Developer Bullet 1")</li>
                <li>@LocalisationService.GetString("Miller Solutions Software Developer Bullet 2")</li>
                <li>@LocalisationService.GetString("Miller Solutions Software Developer Bullet 3")</li>
            </ul>
        </div>
    </div>

    <div class="row m-0 p-2 text-center">
        <div class="col-5 p-0 m-auto">
            <a class="experienceTable-item-image" href="https://assetminder.io/" target="_blank">
                <img src="img/experience/invma.png">
            </a>
        </div>
        <div class="col-7 p-0">
            <h2 class="m-0"><a class="fw-bold" href="https://assetminder.io/" target="_blank">@LocalisationService.GetString("InVMA Ltd (Konektio AssetMinder)")</a></h2>
            <p class="fs-3 m-0 fw-bold" style="color: #228B22;">@LocalisationService.GetString("Applications Engineer")</p>
            <ul class="text-start">
                <li>@LocalisationService.GetString("InVMA Applications Engineer Bullet 1")</li>
                <li>@LocalisationService.GetString("InVMA Applications Engineer Bullet 2")</li>
                <li>@LocalisationService.GetString("InVMA Applications Engineer Bullet 3")</li>
                <li>@LocalisationService.GetString("InVMA Applications Engineer Bullet 4")</li>
            </ul>
        </div>
    </div>
</div>