@page "/experience"

<PageTitle>@LocalisationService.GetString("Ashley Gibson") - @LocalisationService.GetString("Experience")</PageTitle>

<div class="experienceBody">
    <div class="page">

        <div class="mainLayer">
            <div class="mainLayer-header">
                <div class="mainLayer-header-text">@LocalisationService.GetString("My career so far...")</div>
            </div>

            <div class="experienceTable">
                <div class="experienceTable-item">
                    <div class="experienceTable-item-image">
                        <a class="experienceTable-item-image-anchor" href="https://www.asos.com/" target="_blank">
                            <img src="img/experience/asos.jpg">
                        </a>
                    </div>
                    <div class="experienceTable-item-text">
                        <h1><a href="https://www.asos.com/" target="_blank" style="font-weight: bold;">@LocalisationService.GetString("ASOS")</a></h1>
                        <h2>@LocalisationService.GetString("Senior Software Engineer")</h2>
                        <ul>
                            <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 1")</li>
                            <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 2")</li>
                            <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 3")</li>
                            <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 4")</li>
                            <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 5")</li>
                            <li>@LocalisationService.GetString("ASOS Senior Software Engineer Bullet 6")</li>
                        </ul>
                    </div>
                </div>

                <div class="experienceTable-item">
                    <div class="experienceTable-item-image">
                        <a class="experienceTable-item-image-anchor" href="https://www.ajg.com/" target="_blank">
                            <img src="img/experience/gallagher.png">
                        </a>
                    </div>
                    <div class="experienceTable-item-text">
                        <h1><a href="https://www.ajg.com/" target="_blank" style="font-weight: bold;">@LocalisationService.GetString("Gallagher")</a></h1>
                        <h2>@LocalisationService.GetString("Digital Developer")</h2>
                        <ul>
                            <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 1")</li>
                            <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 2")</li>
                            <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 3")</li>
                            <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 4")</li>
                            <li>@LocalisationService.GetString("Gallagher Digital Developer Bullet 5")</li>
                        </ul>
                    </div>
                </div>

                <div class="experienceTable-item">
                    <div class="experienceTable-item-image">
                        <a class="experienceTable-item-image-anchor" href="https://www.quba.co.uk" target="_blank">
                            <img src="img/experience/quba.png">
                        </a>
                    </div>
                    <div class="experienceTable-item-text">
                        <h1><a href="https://www.quba.co.uk" target="_blank" style="font-weight: bold;">@LocalisationService.GetString("QUBA New Media Ltd")</a></h1>
                        <h2>@LocalisationService.GetString("Junior Developer")</h2>
                        <ul>
                            <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 1")</li>
                            <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 2")</li>
                            <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 3")</li>
                            <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 4")</li>
                            <li>@LocalisationService.GetString("QUBA Junior Developer Bullet 5")</li>
                        </ul>
                    </div>
                </div>

                <div class="experienceTable-item">
                    <div class="experienceTable-item-image">
                        <a class="experienceTable-item-image-anchor" href="http://www.millersolutions.co.uk" target="_blank">
                            <img src="img/experience/millerSolutions.png">
                        </a>
                    </div>
                    <div class="experienceTable-item-text">
                        <h1><a href="http://www.millersolutions.co.uk" target="_blank" style="font-weight: bold;">@LocalisationService.GetString("Miller Solutions Ltd")</a></h1>
                        <h2>@LocalisationService.GetString("Software Developer")</h2>
                        <ul>
                            <li>@LocalisationService.GetString("Miller Solutions Software Developer Bullet 1")</li>
                            <li>@LocalisationService.GetString("Miller Solutions Software Developer Bullet 2")</li>
                            <li>@LocalisationService.GetString("Miller Solutions Software Developer Bullet 3")</li>
                        </ul>
                    </div>
                </div>

                <div class="experienceTable-item">
                    <div class="experienceTable-item-image">
                        <a class="experienceTable-item-image-anchor" href="https://assetminder.io/" target="_blank">
                            <img src="img/experience/invma.png">
                        </a>
                    </div>
                    <div class="experienceTable-item-text">
                        <h1><a href="https://assetminder.io/" target="_blank">@LocalisationService.GetString("InVMA Ltd (Konektio AssetMinder)")</a></h1>
                        <h2>@LocalisationService.GetString("Applications Engineer")</h2>
                        <ul>
                            <li>@LocalisationService.GetString("InVMA Applications Engineer Bullet 1")</li>
                            <li>@LocalisationService.GetString("InVMA Applications Engineer Bullet 2")</li>
                            <li>@LocalisationService.GetString("InVMA Applications Engineer Bullet 3")</li>
                            <li>@LocalisationService.GetString("InVMA Applications Engineer Bullet 4")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<Ash.Portfolio.Web.Components.Shared.NavBar />