@inherits PageBase;

<!-- COMPLETE -->
<div class="row completePortfolio m-4 mt-0 text-center">
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Number-Manipulator" target="_blank">
            <p>@LocalisationService.GetString("Number Manipulator") - C# .NET</p>
            <img src="img/portfolio/numberManipulator.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Abstract-Factory" target="_blank">
            <p>@LocalisationService.GetString("Abstract Factory") - C# .NET</p>
            <img src="img/portfolio/abstractFactory.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/SOLID" target="_blank">
            <p>@LocalisationService.GetString("SOLID Principles") - C# .NET</p>
            <img src="img/portfolio/solid.png">
        </a>
    </div>
</div>

<!-- IN PROGRESS -->
<div class="row inProgressPortfolio m-4 mt-0 mb-5 pb-5 text-center" style="display:none;">
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Web-Quiz" target="_blank">
            <p>@LocalisationService.GetString("Web Quiz") - C# .NET Core</p>
            <img src="img/portfolio/webQuiz.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Chain-Of-Responsibility" target="_blank">
            <p>@LocalisationService.GetString("Chain of Responsibility") - C# .NET</p>
            <img src="img/portfolio/chainOfResponsibility.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Path-Finder" target="_blank">
            <p>@LocalisationService.GetString("Path Finder") - C# .NET</p>
            <img src="img/portfolio/pathFinding.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Stable-Matching" target="_blank">
            <p>@LocalisationService.GetString("Stable Matching") - C# .NET</p>
            <img src="img/portfolio/stableMatching.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Searching-Algorithms" target="_blank">
            <p>@LocalisationService.GetString("Searching Algorithms") - C# .NET</p>
            <img src="img/portfolio/googleSearch.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Stock-Market-Dashboard" target="_blank">
            <p>@LocalisationService.GetString("Stock Market Dashboard") - JS Framework - SPA</p>
            <img src="img/portfolio/stocks.png">
        </a>
    </div>
</div>

<!-- GAMES -->
<div class="row gamesPortfolio m-4 mt-0 mb-5 pb-5 text-center" style="display:none;">
    <div class="col-4 p-0 pt-3">
        <a href="#">
            <p>@LocalisationService.GetString("Spot and the Zombies") - C++</p>
            <img src="img/portfolio/spotAndTheZombies.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Tic-Tac-Toe" target="_blank">
            <p>@LocalisationService.GetString("Tic Tac Toe") - C++</p>
            <img src="img/portfolio/tictactoe.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="#">
            <p>@LocalisationService.GetString("Warriors Walk - C# Unity (Mobile Game with .apk)")</p>
            <img src="img/portfolio/warriorsWalk.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="#">
            <p>@LocalisationService.GetString("Jump! - C# Unity")</p>
            <img src="img/portfolio/jump.png">
        </a>
    </div>
    <div class="col-4 p-0 pt-3">
        <a href="https://github.com/Ashley-Gibson/Shadows" target="_blank">
            <p>@LocalisationService.GetString("Shadows - C++ DirectX 11")</p>
            <img src="img/portfolio/shadows.png">
        </a>
    </div>
</div>